<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= day %></h1>
  <ul>
    <% todos.forEach(todo => { %> <!-- 8. Gagamitin natin yung variable sa forEach-->
        <li><%= todo %></li> <!-- 9. Then i-render natin ang result -->
    <% }) %> 
  </ul>
  <form action="/" method="POST">
    <input name="newTodo" type="text">
    <button type="submit">Submit</button> <!-- 1. Kapag kinlick etong button na, titignan nya ang action at method ng form then pupunta ang value sa server-->
  </form>
</body>
</html>